.menu {
  background: black;
  padding: 20px;
  display: none;
  position: absolute;
  z-index: 11;
  top: 100px;
  left: 50%;
  transform: translate(-50%, 0);
}

.button {
  width: 100%;
  padding: 10px 50px;
  background: grey;
  border: none;
  margin: 10px;
  cursor: pointer;
}

.show {
  display: block !important;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100vw;
  height: 100vh;
  opacity: .5;
}